/* CSS reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;

}

/* Header Section */
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../Images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 10px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img{
    width: 10px;
    margin-left: 10px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 50px;
    width: 84%;
}

.header-content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
}

.email-signup{
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    width: 50%;
    margin: auto;
}

.email-signup input{
    border-radius: 4px;
    flex: 1;
    border: 1px solid #dbd6d6;
    outline: 0;
    margin: 0px 15px;
    background: transparent;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
}

.email-signup button{
    border-radius: 4px;
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: bolder;
}

/* Features Section */
.features{
    border-top: 8px solid #333;
    padding: 50px 12%;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col, .img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}

.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}

.features h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.features p{
    font-size: 26px;
}

/* FAQ Section */
.faq{
    border-top: 8px solid #333;
    padding: 10px 12%;
    text-align: center;
}

.faq h2{
    font-weight: 900;
    font-size: 43px;
    margin-top: 45px;
}

.accordion{
    margin: 20px auto;
    width: 100%;
    max-width: 1024px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: "+";
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 20px;
}

/* Footer Section */
.footer{
    padding: 50px 12% 10px;
    border-top: 8px solid #333;
    color: rgb(206, 205, 205);
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer h2 a{
    color: rgb(206, 205, 205);
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    color: rgb(206, 205, 205);
    font-size: 14px;
    margin-bottom: 20px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn{
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.copyright-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}